name: flutter_zebra_datawedge
description: A new flutter plugin project.
version: 0.0.2
author: daniel.kononov@mway.io
homepage: https://github.com/mwaylabs/flutter-zebra-datawedge

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter


# The following section is specific to Flutter.
flutter:
  plugin:
    platforms:
      android:
        package: io.mway.flutter_zebra_datawedge
        pluginClass: FlutterZebraDatawedgePlugin

